.cache
.shadowenv.d
.vscode
build
dist
coverage
node_modules
prisma
public
.github
tmp
*.yml
.env
.env.*
.shopify

# Ignore generated/release metadata files
CHANGELOG.md
package-lock.json
yarn.lock
pnpm-lock.yaml
